parameters:
    level: 6
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # We don't need explicit array shapes in tests.
        -
            message: '#type has no value type specified in iterable type array#'
            path: tests/
        -
            message: '#type has no value type specified in iterable type iterable#'
            path: tests/
        -
            message: '#Method (.*) has parameter (.*) with no value type specified in iterable type array.#'
            path: tests/
        # PHPStan is overly aggressive on readonly properties.
        - '#Class (.*) has an uninitialized readonly property (.*). Assign it in the constructor.#'
        - '#Readonly property (.*) is assigned outside of the constructor.#'

        # This is a Serde callback, so it's used indirectly.
        - '#Method Crell\\Mastobot\\Config::validate\(\) is unused.#'
        - '#Method Crell\\Mastobot\\AccountDef::validate\(\) is unused.#'
        - '#Method Crell\\Mastobot\\Mastodon\\Model\\Point::validate\(\) is unused.#'

        # This seems to be just a straight up bug in PHPStan?
        - '#Property Crell\\Mastobot\\Mastodon\\Model\\Status::\$media type has no value type specified in iterable type array.#'
